@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    P.O. Box 49561<br />
    Colorado Springs, CO 80949-9561<br />
    <abbr title="Phone">P:</abbr>
    +1-719-287-4335
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:Jeff@Langrsoft.com">Jeff Langr</a>
</address>